
#Contenedor {
border: dashed green 3px;
padding: 16px;
width: 70%;}

#Post {font-family: 'Times New Roman', Times, serif;
color: blue;
text-align: center;
border: red solid 2px;}

#Cabecera {color: white; 
background-color: rgb(96, 105, 235);
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 32px;
border: solid black 1.5px;
text-align: center;}